@use '../modules/variables';
@use '../modules/mixins';

body {
   background-color: variables.$black;
   color: variables.$white;
}
a {
   color: variables.$white;
   text-decoration: none;
   transition: color 300ms ease;

   &:hover {
      color: variables.$yellow;
   }
}
.wrapper {
   padding: 0 .8rem;

   @include mixins.tablet-view {
      padding: 0;
      margin: 0 auto;
      max-width: 750px;
   }

   @include mixins.desktop-view {
      max-width: 1024px;
   }
}