@font-face {
   font-family: "firaCode";
   font-weight: normal;
   font-style: normal;
   src: local("FiraCode-Medium"),
         url("./FiraCode-Medium.ttf") format("truetype");
}
@font-face {
   font-family: "firaCode";
   font-weight: bold;
   font-style: normal;
   src: local("FiraCode-Bold"),
        url("./FiraCode-Bold.ttf") format("truetype");
}