@use '../modules/variables' as *;
@use '../modules/mixins' as *;

.header {
    background-color: $c-black;
    color: $c-white;
    height: 600px;
    padding-top: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &__background-waves {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    &__flexbox {
        display: flex;
        flex-direction: column;
    }
    &__h1 {
        font-size: 2.4rem;
    }
    &__h2 {
        font-size: 1.6rem;
    }
    &__para {
        margin: 30px 0 77px;
    }
    &__hyperlinks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    @include breakpoint(800px) {
        padding-top: 0;

        &__background-waves {
            display: block;
        }
        &__flexbox {    
            height: 100%;
            flex-direction: row;
            align-items: center;
        }
        &__flex-item {
            width: 50%;
        }
        &__content {
            order: 1;
        }
        &__h1 {
            font-size: 4rem;
        }
        &__h2 {
            font-size: 1.8rem;
        }
        &__para {
            max-width: 500px;
            margin: 24px 0;
        }
        &__hyperlinks {
            justify-content: flex-start;
        }
    }
}
.bottom-waves {
    width: 200%;
    position: absolute;
    bottom: -1px;
    left: -1px;

    path {
        fill: $c-white;
        animation-name: moveWave;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    path:nth-child(1) {
        animation-duration: 4s;
        animation-delay: -2s;
    }
    path:nth-child(2) {
        opacity: .5;
        animation-duration: 7s;
        animation-delay: -3s;
    }
    path:nth-child(3) {
        opacity: .3;
        animation-duration: 11s;
        animation-delay: -6s;
    }
    path:nth-child(4) {
        opacity: .15;
        animation-duration: 15s;
        animation-delay: -5s;
    }
}

@keyframes moveWave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.picture {
    $size: 157px;
    width: 100%;
    height: $size;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    position: relative;

    &__circle {
        width: $size;
        height: $size;
        background-color: $c-lime;
        border-radius: 50%;
        position: absolute;
    }
    &__circle:nth-child(1) {
        opacity: .5;
        z-index: 3;
        animation: rotateCircle 10s linear infinite;
    }
    &__circle:nth-child(2) {
        opacity: .3;
        z-index: 2;
        animation: rotateCircle 15s linear infinite reverse;
    }
    &__circle:nth-child(3) {
        opacity: .15;
        z-index: 1;
        animation: rotateCircle 15s linear infinite;
    }
    &__circle--img {
        background-image: url('../../assets/images/BWprofile.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 4;
    }

    @include breakpoint(800px) {
        $size: 200px;
        width: 50%;
        margin-bottom: 0;
        justify-content: flex-start;
        order: 2;

        &__circle {
            margin-left: 152px;
        }
    }
}

@keyframes rotateCircle {
    0% {
        transform: 
            rotate(0deg) 
            translate(-13px) 
            rotate(0deg);
    }
    100% {
        transform: 
            rotate(360deg) 
            translate(-13px) 
            rotate(-360deg);
    }
}




