@use '../modules/variables' as *;
@use '../modules/mixins' as *;

.project-item {
   max-width: 500px;
   border: 1px dashed $white;
   padding: 10px;
   margin: 0 auto 30px;
   transition: color 200ms ease-in-out,
               border-color 200ms ease-in-out;

   &:hover {
      color: $yellow;
      border-color: $yellow;
   }

   &__title {
      font-size: 1.8rem;
      margin: 12px 0 10px;
   }
   &__technologies {
      margin-bottom: 30px;
   }
   &__image {
      width: 100%;
   }

   @include tablet-view {
      max-width: 700px;
      display: flex;

      &__title {
         font-size: 2.4rem;
         margin: 10px 0 10px;
      }
      &__image {
         width: 280px;
         margin-right: 21px;
      }  
   }
}