@use '../modules/mixins' as *;
@use '../modules/variables' as *;

.skills {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;

   &__item {
      display: flex;
      width: 100%;
   }
   &__icon-container {
      background-color: $white;
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__text-container {
      flex-grow: 1;
      border: 1px solid $white;
      border-left-width: 0;
   }
   &__heading {
      line-height: 62px;
   }

   @include tablet-view {
      max-width: 722px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 10px;

      &__item {
         width: 356px;
      }
   }
}