@font-face {
  font-family: "Inconsolata";
  font-weight: 400;
  font-style: normal;
  src: local("Inconsolata-Regular"), url("../Inconsolata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-weight: 500;
  font-style: normal;
  src: local("Inconsolata-Medium"), url("../Inconsolata-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  font-style: normal;
  src: local("Inconsolata-Bold"), url("../Inconsolata-Bold.ttf") format("truetype");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0D0D0D;
  color: #FFF;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

p a {
  display: inline-block;
}

.f-inconsolata {
  font-family: "Inconsolata", "Courier New", Courier, monospace;
}

.fs-1 {
  font-size: 16px;
}

.fs-2 {
  font-size: 18px;
}

.fs-3 {
  font-size: 24px;
}

.fs-4 {
  font-size: 32px;
}

.wrapper {
  padding: 0 16px;
}

.anchor {
  transition: color 200ms ease-in-out;
}
.anchor:hover {
  color: #FFCC00;
}
.anchor:hover .line {
  border-color: #FFCC00;
}
.anchor .line {
  border-bottom: 1px dashed #FFF;
  padding-bottom: 2px;
  transition: border-color 200ms ease-in-out;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}
.header__name {
  font-weight: bold;
  margin-bottom: 18px;
}
.header-navbar__ul {
  display: flex;
  column-gap: 16px;
}
.header-navbar__anchor {
  fill: #FFF;
}
.header-navbar__anchor:hover {
  fill: #FFCC00;
}
.header-navbar__icon {
  fill: inherit;
  vertical-align: middle;
}
.header-navbar__icon path {
  fill: inherit;
  transition: fill 200ms ease-in-out;
}
@media screen and (min-width: 850px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin-top: 60px;
  }
  .header-navbar__ul {
    column-gap: 42px;
  }
}

/*# sourceMappingURL=styles.css.map */
