@use './variables' as *;

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}
.anchor {
    fill: $c-lime;
    text-transform: capitalize;
    font-weight: 600;
    color: $c-lime;
    transition: color 300ms ease;

    &:hover {
        fill: $c-white;
        color: $c-white;
    }

    &__icon {
        fill: inherit;
        vertical-align: middle;
        margin-right: 4px;
        transition: fill 300ms ease;
    }
}
.anchor--flex {
    display: inline-flex;
    align-items: center;
}
.fw-bold {
    font-weight: 600;
}